{{ define "works/list.html" }}
    {{ template "header.html" . }}
    <div class="container mx-auto mt-6 px-0 lg:px-10">
        <div class="grid grid-cols-1 mx-5 gap-4 lg:grid-cols-4 lg:mx-0">
            {{ range .works }}
            <a href="/work/{{ .ID }}" class="text-white bg-black bg-opacity-40 rounded-xl backdrop-blur-xl shadow-md hover:shadow-2xl hover:backdrop-brightness-125 hover:z-50 hover:scale-110 transition-all duration-500">
                <div class="font-medium text-lg text-center my-2">
                    {{ .Title }}
                </div>
                <img src="/static/img/works/{{index .Images 0 }}.png" alt="NOLIK" class="h-44 w-full">
                <div class="mt-3">
                    <div class="font-medium text-lg opacity-50 mx-5">
                        {{ .Technologies | html }}
                    </div>
                    <div class="mx-5 mb-3">
                        {{ .ShortDescription | html }}
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
    {{ template "footer.html" . }}
{{ end }}